body{
    font-size: 62.5px;
    /* margin: auto 0; */
}
h2{
    text-align: center;
}
.tzcal{
    /* text-align: center; */
    /* margin: auto 0; */
}
.cal_wrapper{
    text-align: center;
    /* margin: auto 0; */
}
